@font-face {
    font-family: "Kontes-Compressed";
    src: local("Kontes-Compressed"),
        url("../fonts/Kontes/Kontes-Compressed.otf") format("truetype");
}
@font-face {
    font-family: "DMMono-Light";
    src: local("DMMono-Light"),
        url("../fonts/dm-mono-2/DMMono-Light.ttf") format("truetype");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
}
.foire{
    font-family: 'Kontes-Compressed';
   font-size: 50px;
  padding: 3%;
   font-weight: bolder;

}

.foire span{
    color: #EEA736;
}
.question{
    font-family: 'DMMono-Light';
    font-size: x-large;
    color: #FFFFFF;
    padding-bottom: 3%;

}
.question_last{
    font-family: 'DMMono-Light';
    font-size: x-large;
    color: #FFFFFF;
    padding-bottom: 3%;

}

.question:not(:last-child) {
    border-bottom: 1px solid #f6f6f6;
   
  }
  
  .up{
    color: white;
    font-weight: bolder;
  }
 